body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color:rgb(66, 14, 10);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
    width: 100%;
  }

canvas{
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
    height: 100%;
}

.logo-img {
    height: 10vh; 
    width: auto;
}
.left-side {
    color: white;
    text-align: center;
    height:20vh;
}

.left-content {
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    border-radius: 2vh;
}

.right-side {
    border-radius: 2vh;
    color: black;
    background-color: whitesmoke;
    padding: 5%;
    min-height: 70vmin;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    min-width: 50%;
    min-height: 5vh;
  }




@media screen and (orientation:portrait) {

  .left-side {
    width: 90vw;
    position:static;
    padding: 5%;
  }
  .left-content {
    margin-bottom: -10vh;
    width: 89vw;
    height: auto;
    position: relative;
    z-index: -1;
    }

  .right-side {
    position:static;
    margin: 5%;
    margin-top:10%;
  }

}

@media screen and (orientation:landscape) { 

  .left-side {
    position: fixed;
    padding: 0%;
    width: 40vw;
    
  }
  .right-side {
    left: 45%;
    width: 35vw;
    position: relative;
    margin: 5%;
  }

  .left-content {
    position: fixed;
    margin-top: 30vh;
    height:50vh;
    width: auto;
    }
}

.draw-border {
    box-shadow: inset 0 0 0 5px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 5px;
    border-left-width: 5px;
  }
  .draw-border::after {
    border-top-width: 5px;
    border-right-width: 5px;
  }
  .draw-border:hover {
    color: rgb(255, 174, 0);
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: rgb(255, 174, 0);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }